alabaster==0.7.13 ; python_version >= "3.9" and python_version < "4.0"
babel==2.13.1 ; python_version >= "3.9" and python_version < "4.0"
certifi==2023.11.17 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and sys_platform == "win32" or python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
contourpy==1.2.0 ; python_version >= "3.9" and python_version < "4.0"
cycler==0.12.1 ; python_version >= "3.9" and python_version < "4.0"
decorator==4.4.2 ; python_version >= "3.9" and python_version < "4.0"
dill==0.3.7 ; python_version >= "3.9" and python_version < "4.0"
docutils==0.18.1 ; python_version >= "3.9" and python_version < "4.0"
fonttools==4.46.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.6 ; python_version >= "3.9" and python_version < "4.0"
imageio-ffmpeg==0.4.9 ; python_version >= "3.9" and python_version < "4.0"
imageio==2.33.1 ; python_version >= "3.9" and python_version < "4.0"
imagesize==1.4.1 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==7.0.0 ; python_version >= "3.9" and python_version < "3.10"
importlib-resources==6.1.1 ; python_version >= "3.9" and python_version < "3.10"
jinja2==3.1.2 ; python_version >= "3.9" and python_version < "4.0"
kiwisolver==1.4.5 ; python_version >= "3.9" and python_version < "4.0"
markupsafe==2.1.3 ; python_version >= "3.9" and python_version < "4.0"
matplotlib==3.8.2 ; python_version >= "3.9" and python_version < "4.0"
mido==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
moviepy==1.0.3 ; python_version >= "3.9" and python_version < "4.0"
mpmath==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
numpy==1.26.2 ; python_version >= "3.9" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.9" and python_version < "4.0"
pbr==6.0.0 ; python_version >= "3.9" and python_version < "4.0"
pillow==10.1.0 ; python_version >= "3.9" and python_version < "4.0"
ply==3.11 ; python_version >= "3.9" and python_version < "4.0"
proglog==0.1.10 ; python_version >= "3.9" and python_version < "4.0"
psutil==5.9.6 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.17.2 ; python_version >= "3.9" and python_version < "4.0"
pylatexenc==2.10 ; python_version >= "3.9" and python_version < "4.0"
pyparsing==3.1.1 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4.0"
qiskit-aer==0.13.1 ; python_version >= "3.9" and python_version < "4.0"
qiskit-terra==0.45.1 ; python_version >= "3.9" and python_version < "4.0"
qiskit==0.45.1 ; python_version >= "3.9" and python_version < "4.0"
requests==2.31.0 ; python_version >= "3.9" and python_version < "4.0"
rustworkx==0.13.2 ; python_version >= "3.9" and python_version < "4.0"
scipy==1.11.4 ; python_version >= "3.9" and python_version < "4.0"
setuptools==69.0.2 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
snowballstemmer==2.2.0 ; python_version >= "3.9" and python_version < "4.0"
sphinx==6.2.1 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-applehelp==1.0.7 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-devhelp==1.0.5 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.0.4 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-qthelp==1.0.6 ; python_version >= "3.9" and python_version < "4.0"
sphinxcontrib-serializinghtml==1.1.9 ; python_version >= "3.9" and python_version < "4.0"
stevedore==5.1.0 ; python_version >= "3.9" and python_version < "4.0"
symengine==0.11.0 ; python_version >= "3.9" and python_version < "4" and platform_machine == "x86_64" or python_version >= "3.9" and python_version < "4" and platform_machine == "aarch64" or python_version >= "3.9" and python_version < "4" and platform_machine == "ppc64le" or python_version >= "3.9" and python_version < "4" and platform_machine == "amd64" or python_version >= "3.9" and python_version < "4" and platform_machine == "arm64"
sympy==1.12 ; python_version >= "3.9" and python_version < "4.0"
tqdm==4.66.1 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.9.0 ; python_version >= "3.9" and python_version < "3.11"
urllib3==2.1.0 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.17.0 ; python_version >= "3.9" and python_version < "3.10"
